@model IEnumerable<PoliceManagementView.Models.ViewModels.CaseApplicationViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="row"> 
    <div class="col">
        <div class="card">
            <div class="card-header mt-2 mb-2 bg-success">
                <h4 class="display-5 fs-3 fw-bold text-center text-white">Please follow the below instruction for applying a Case.</h4>
            </div>
        </div>
    </div>
</div>

